#map

%p
  %b Title:
  = @route.title
%p
  %b Description:
  = @route.description
%p
  %b Distance:
  = @route.distance
%p
  %b Total ascent:
  = @route.total_ascent

%p
  %b GPX:
  = @route.track.gpx_file_name
  = @route.track.gpx_file_size
  bytes

= link_to 'Edit', edit_route_path(@route)
\|
= link_to 'Back', routes_path

%link{:href => "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css", :rel => "stylesheet"}/
%script{:src => "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"}
