#map

%p
  %b Title:
  = @route.title
%p
  %b Description:
  = @route.description
%p
  %b Distance:
  %span#distance m
%p
  %b Total ascent:
  %span#total-ascent m

= content_tag 'div', id: 'track', data: { url: @route.track.gpx.url } do
  %b Download:
  = link_to track_download_path(@route.track), { target: '_self' } do
    = @route.track.gpx_file_name
    = number_to_human_size @route.track.gpx_file_size

= link_to 'Edit', edit_route_path(@route)
\|
= link_to 'Back', routes_path

%link{href: 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css', rel: 'stylesheet'}
%script{src: 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js'}
