#map

%p
  %b Title:
  = @route.title
%p
  %b Description:
  = @route.description
%p
  %b Distance:
  = number_to_human @route.track.distance, units: { unit: 'km' }
%p
  %b Total ascent:
  = number_to_human @route.track.total_ascent, units: { unit: 'm' }
/ %p
/   %b Total descent:
/   = number_to_human @route.track.total_descent, units: { unit: 'm' }

= content_tag 'div', id: 'track', data: { url: @route.track.gpx.url } do
  %b Download:
  = link_to track_download_path(@route.track), { target: '_self' } do
    = @route.track.gpx_file_name
    = number_to_human_size @route.track.gpx_file_size

= link_to 'Edit', edit_route_path(@route)
\|
= link_to 'Back', routes_path

%link{href: 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css', rel: 'stylesheet'}
%script{src: 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js'}
